@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Crimson Text", serif;
}
body,
#__next {
    min-height: 100vh;
}

.edu-bg {
    background-image: url(https://www.uit.edu.vn/sites/vi/files/banner_uit.png);
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .edu-bg {
        background-image: none;
    }
    *, html {
        font-size: 14px;
    }
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
        typing 7.5s steps(40, end) infinite,
        blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
